[task_local]
0-59/5 * * * * https://raw.githubusercontent.com/QGCliveDavis/Module/main/Telecom/Tele_Cellular.js, tag=电信余量, enabled=true,img-url=https://raw.githubusercontent.com/QGCliveDavis/Module/main/Asset/China_Telecom.png